@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary: #10B981;
    --white: white;
    --off-white: #F3F4F6; 
}

body {

    font-family: 'Montserrat', sans-serif;
    /* color: black ; */
    /* background-color: rgb(2, 119, 87);; */
    margin: auto;
    font-size: 1.1rem;
}

.container {
    padding:1rem 1rem; 
}

.container-center{
    max-width: 500px;
    text-align: center;
    margin: auto;
}

.link {
text-decoration: none;
padding: 0.5rem 1rem;
border-radius: 0.5rem;

}

.section{
text-align: center;
padding: 1rem 1rem;
}

.ow {
    background-color: var(--off-white);
    padding: 1.3rem;
  }

.link-primary{
    background-color: var(--primary);
    color: white;
    
}

.link-secondary{
    color: var(--primary);
    border: 1px solid var(--primary);
}

.list-item-inline{
    display: inline;
    padding: 0 0.15rem;
}

.navigation {
    background-color: var(--primary);
    /* color: var(--white); */
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.25rem;
  }

  .navigation .nav-items {
    text-align: right;
    padding-inline-start: 0px;
  }

  .navigation .link {
    color: var(--white);
  }

  .navigation .nav-brand .link {
    padding: 0;
    font-size: 1.5rem;
  }

  .navigation .link-active {
    font-weight: bold;
    font-size: 1.3rem;
  }
  
  .hero {
    padding: 1rem;
  }

  .hero .hero-image {
    max-width: 100%;
    width: 450px;
    display: block;
    margin: auto;
    /* padding: 1.5rem 0; */
  }

  .hero .hero-heading {
    text-align: center;
    padding: 1rem;
  }

.footer{
    background-color: var(--primary);
    /* color: var(--white); */
    border-top-right-radius: 1rem;
    text-align: center;
    padding: 2rem;
}

.footer .footer-heading{
    color: var(--white);
    text-align: center;
}

.footer .link{
    color: var(--white);
}